export PURITY_DB_HOST="localhost"
export PURITY_DB_PORT="5432"
export PURITY_DB_NAME="purity"
export PURITY_DB_USER="postgres"
export PURITY_DB_PASS=""
export PURITY_DB_SSL_MODE="disable"
export GOOGLE_APPLICATION_CREDENTIALS=""
export PROJECT_ROOT="$(pwd)"
